<div class="p-5 text-center">
    <h1>Termos Médicos</h1>
    <p>NLP em Engenharia Biomédica</p> 
  </div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/termos">Termos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/exemplo">Exemplo</a>
          </li>
       <!-- <li class="nav-item">
          <a class="nav-link" href="/pesquisa">Pesquisar</a>
        </li>
        -->
      </ul>
    </div>
  </nav>